/*------ color-7 css ------*/

/*------ #e91e63 ------*/


.prt_heading p , .cv_menu ul li a:hover , .prt_about_learnbox_right:hover .prt_about_learnbox_year h1 , .prt_about_learnbox_left:hover .prt_about_learnbox_year h1 , .prt_about_experiencebox:hover .prt_about_experience_year h1 , .prt_contact_form input[type="submit"]:hover , .prt_counter_box p , .prt_menu_wrapper a , .transparent-background h6 , .hentry a , .cv_menu ul li.current_page_item>a  , .cv_menu ul li.current-page-ancestor>a{
    color:#e91e63;
}

.prt_btn:hover, .prt_btn:focus , .rb-resume-section-heading{
    color:#e91e63 !important;
}

.prt_btn , .prt_contact_form input[type="submit"] , .prt_footer_wrapper ul li a:hover , .prt_services_slider_text span{
    background-color:#e91e63;
}

.prt_btn , .prt_contact_form input[type="submit"] , .prt_contact_form input[type="submit"]:hover , .prt_btn:hover, .prt_btn:focus , .prt_about_learnbox_right:hover:after , .prt_about_learnbox_left:hover:after{
    border-color:#e91e63;
}

.cv_logo svg path , .prt_logo_wrapper svg path{
    fill:#e91e63;
}

.prt_loader .loader{
   border-top-color:#e91e63;
}

/*------ unit test color css start ------*/

.cv_breadcrumb .breadcrumbs span.last-item , .hentry .entry-title a:hover , .entry-meta a , .entry-meta a:hover , .cat_sidebar .widget_search .search-submit:hover , .hentry a:hover, .hentry a:focus, .hentry a:visited , td a , .cat_sidebar .widget_search .search-submit:hover , input[type="submit"].cv_btn:hover, .post-password-form input[type="submit"]:hover, .not-found input[type="submit"]:hover, .prt_contact_form input[type="submit"]:hover, .prt_contact_form input[type="submit"]:focus , .pagination .page-numbers:hover, .pagination .page-numbers.current, .page-links a:hover , .hentry a:hover, .hentry a:focus, .hentry a:visited td a , .cat_sidebar .widget ul li a:hover , .cat_sidebar .widget_calendar tr a , .cat_sidebar .widget_rss .rsswidget , .cv_breadcrumb .breadcrumbs span a:hover , table th a, dl dd a, .comments-area a:visited , .ed_comment_text h5 a:hover , .comment-respond a:hover , .hentry a , td#today {
    color:#e91e63;
}

.cat_sidebar .widget_search .search-submit , input[type="submit"].cv_btn, .post-password-form input[type="submit"], .not-found input[type="submit"], .prt_contact_form input[type="submit"] , .cat_sidebar .widget .tagcloud a:hover{
    background-color:#e91e63;
}

.cat_sidebar .widget_search .search-submit , input[type="submit"].cv_btn, .post-password-form input[type="submit"], .not-found input[type="submit"], .prt_contact_form input[type="submit"] , .pagination .page-numbers:hover, .pagination .page-numbers.current, .page-links a:hover , input[type="submit"].cv_btn:hover, .post-password-form input[type="submit"]:hover, .not-found input[type="submit"]:hover, .prt_contact_form input[type="submit"]:hover, .prt_contact_form input[type="submit"]:focus , .cat_sidebar .widget_search .search-submit:hover{
    border-color:#e91e63;
}
.pagination .page-numbers:hover, .pagination .page-numbers.current, .page-links a:hover{
    color:#e91e63 !important;
}

/*-- woocommerce css --*/

.woocommerce-page a:hover , .woocommerce a:hover , .widget_product_search button:hover , .woocommerce.widget .product-title:hover , .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover , .comment-respond a, .comment-respond a:visited , .woocommerce-info::before{
	color:#e91e63;
}
.basket-item-count , .widget_product_search button , .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle , .woocommerce div.product form.cart .button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce input.button, .woocommerce button.button, .woocommerce button.button.alt , .woocommerce-page button.button , .self_sale , .woocommerce-MyAccount-navigation> ul>li.is-active>a, .woocommerce-MyAccount-navigation> ul>li:hover a , .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] , .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active{
	background-color:#e91e63;
}
.widget_product_search button:hover , .woocommerce div.product form.cart .button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce input.button, .woocommerce button.button, .woocommerce button.button.alt , .woocommerce div.product form.cart .button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce a.button.alt:hover, .woocommerce input.button:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce button.button:hover, .woocommerce button.button.alt:hover, .woocommerce-page button.button:hover , .woocommerce div.product form.cart .button:focus, .woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce a.button.alt:focus, .woocommerce input.button:focus, .woocommerce button.button:disabled:focus, .woocommerce button.button:disabled[disabled]:focus, .woocommerce button.button:focus, .woocommerce button.button.alt:focus , .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover , .woocommerce-page button.button:focus{
	border-color:#e91e63;
}
.woocommerce div.product form.cart .button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce a.button.alt:hover, .woocommerce input.button:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce button.button:hover, .woocommerce button.button.alt:hover, .woocommerce div.product form.cart .button:focus, .woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce a.button.alt:focus, .woocommerce input.button:focus, .woocommerce button.button:disabled:focus, .woocommerce button.button:disabled[disabled]:focus, .woocommerce button.button:focus, .woocommerce button.button.alt:focus , .woocommerce a.remove , .woocommerce-page button.button:hover , .woocommerce-page button.button:focus{
	color:#e91e63 !important;
}
.woocommerce a.remove:hover{
	background-color:#e91e63 !important;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message{
	border-top-color:#e91e63;
}

/*-- second layout css --*/
.self_layout_second .self_header ul li a:hover, .self_layout_second .self_header ul li.active a , .hs_color_set .header_switcher ul.header_tabs li:hover a , .self_layout_second .self_toggle_btn i{
	color:#e91e63;
}
.self_section_body .self_page_sections::-webkit-scrollbar-thumb , .self_header::-webkit-scrollbar-thumb , .self_layout_second .self_header ul li a:after{
	background-color:#e91e63;
}
.hs_color_set .header_switcher ul.header_tabs li:hover a.header_left{
	border-left-color:#e91e63;
}
.hs_color_set .header_switcher ul.header_tabs li:hover a.header_top{
	border-top-color:#e91e63;
}
.hs_color_set .header_switcher ul.header_tabs li:hover a.header_bottom{
	border-bottom-color:#e91e63;
}
.self_logo svg path{
	fill:#e91e63;
}
.self-resume-download.resume_second_layout .prt_btn:hover{
	border-color:#e91e63;
}